*{
    margin: 0;
    padding: 0;
}

.sky{
    background-image: url(background.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.trees{
    background-image: url(trees.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: 12vh;
}

.track{
    background-image: url(track.png);
    height: 60vh;
    width: 800%;
    position: absolute;
    top: 70vh;
    background-repeat: repeat-x;
    animation: carMove linear 10s infinite;
}

.car{
    height: 15vh;
    width: 30vw;
    background-image: url(car_body.png);
    background-size: cover;
    position: absolute;
    left: 10vw;
    bottom: 14vh;
    animation: carShake linear 3s infinite;
}

.wheel-left img{
    width: 70px;
    position: relative;
    top: 42px;
    left: 47px;
    animation: wheelRotation linear 0.2s infinite;
}

.wheel-right img{
    width: 71px;
    position: relative;
    left: 240px;
    bottom: 30px;
    animation: wheelRotation linear 0.2s infinite;
}

body{
    overflow: hidden;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove{
    100%{
        transform: translate(-500vw);
    }
}

@keyframes carShake{
    0%{
        transform: translatey(-5px);
    }
    50%{
        transform: translatey(5px);
    }
    100%{
        transform: translatey(-5px);
    }
}