*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(108, 183, 227);
    color: rgba(22, 23, 24, 0.785);
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo img{
    width: 4vw;
}

.logo{
    padding: 0 20px;
}

.content{
    font-family: 'Potta One', cursive;
    font-size: 160%;
}

.container{
    width: 70vw;
    padding: 30px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif; 
}

body{
    background-color: rgb(255, 255, 255);
}

.button{
    cursor: pointer !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 5px !important;
    padding: 3px 12px !important;
}

.inner-ol{
    list-style: none;
}

.main-heading{
    font-weight: bolder;
    font-size: 160%;
}

.sub-heading{
    font-weight: bold;
    font-size: 130%;
}

.desc{
    font-size: 120%;
}

.sub-desc{
    font-size: 110%;
}